<form method="POST" enctype="multipart/form-data">
  <!-- Poster -->
  <label for="film_poster">Poster:</label><br />
  <img
    src="/admin/manage-film/poster/<%- filmMatch.uuid %>"
    style="width: 200px; height: 200px"
  />
  <input type="file" value="<%= filmMatch.poster %>" name="film_poster" /><br />

  <!-- UUID -->
  <label for="film_uuid">UUID:</label><br />
  <input
    type="text"
    style="background-color: rgb(168, 166, 166)"
    value="<%= filmMatch.uuid %>"
    name="film_uuid"
    readonly
  /><br />

  <!-- Name -->
  <label for="film_name">Name:</label><br />
  <input
    type="text"
    value="<%= filmMatch.displayName %>"
    name="film_name"
    required
  /><br />

  <!-- Publish Date -->
  <label for="film_pdate">Publish Date</label><br />
  <input
    type="datetime"
    value="<%= filmMatch.publishDate %>"
    name="film_pdate"
    required
  /><br />

  <!-- Time -->
  <label for="film_time">Time</label><br />
  <input
    type="text"
    value="<%= filmMatch.time %>"
    name="film_time"
    required
  /><br />

  <input type="submit" value="Update" />
</form>
