<style>
    #map {
        height: 500px;
        width: 100%;
        margin-bottom: 15px;
    }

</style>


<div class="hero common-hero">
    <div class="hero-ct">
        <h1><%= cluster.displayName %></h1>
    </div>
</div>
<!-- blog list section-->
<div class="page-single">
    <div class="container">
        <div class="row">
            <div id="map"></div>
            <h1>Các rạp có trong Cụm</h1>
            <br />
            <div class="col-md-12 col-sm-12 col-xs-12">
                <% var i = 0; cinemas.forEach(cinema => { %>
                <div class="blog-item-style-1 blog-item-style-3">
                    <img
                        src="/images/Cluster2.jpg"
                        alt="Film Image"/>
                    <div class="blog-it-infor">
                        <div class="container" style="margin-bottom: 20px;">
                            <h3>
                                <a href="#" style="font-size: larger;" aria-disabled="true"><%= cinema.displayName %></a>
                            </h3>
                            <p>Ghế phòng chiếu: <%= cinema.verticleSize %> x <%= cinema.horizontalSize %></p>
                        </div>

                        <div class="container" style="margin-bottom: 20px; color: blueviolet;"><h2> Danh sách suất chiếu:</h2> </div>
                        <% for (const val of showtimes[i]) { console.log(i); %>
                            <div class="container">
                                <h5>
                                    <a style="color: white;" href="/booking/choose-seat?filmID=<%= val.filmId %>&showtimeID=<%= val.showId %>" aria-disabled="true"><%= val.name %></a>
                                </h5>
                                <% let date = val.startTime.toString().split(" "); %>
                                <p style="margin-top: -0px; margin-bottom: 8px;">Giờ chiếu: <%= val.startTime.toLocaleDateString('pt-br'); %> - <%= val.startTime.toLocaleTimeString() %></p>
                            </div>
                        <% } %>

                        
                    </div>     
                    

                </div>
                <% i = i + 1; }); %>
            </div>
        </div>
    </div>
</div>

<script>
    function getParameterURLByName(name, url = window.location.href) {
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return "";
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    let lat = getParameterURLByName("lat");
    let lng = getParameterURLByName("lng");

    lat = Number.parseFloat(lat);
    lng = Number.parseFloat(lng);

    function initMap() {
        const mapLocation = {lat: 10.8231, lng: -106.6297 };

        const options = {
            zoom: 8,
            center: mapLocation,
        }

        const map = new google.maps.Map(document.getElementById("map"), options);

        const marker = new google.map.Marker({
            position: mapLocation,
            map: map,
        });

    }

</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCz4hZ84GtkIrUkBbDlNH2qmEGeV3rgFPI&callback=initMap"
>
</script>