<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<!---->
<div>
    <div class="card">
        <div class="card-body">
            <button style="margin-bottom: 20px; font-size: large;" class="btn btn-success mr-2" id="add-btn"> <u>Add a cinema now</u></button><br>
            <h4 class="card-title">List of Cinema</h4>
            <table class="table table-hover" id="table">
                <thead>
                    <tr>
                        <th>Cinema</th>
                        <th>Horizontal</th>
                        <th>Verticle</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <% cinemas.forEach(element => { %>
                        <tr>
                            <td><%= element.clusName %> - <%= element.displayName %></td>
                            <td><%= element.horizontalSize %></td>
                            <td> <%= element.verticleSize %></td>
                            <td>
                                <div>
                                    <button class="btn btn-danger mr-2"
                                            onclick="location.href='/admin/manage-cinema?cinemaID=<%=element.uuid%>&action=delete'"
                                            data-id="<%= element.uuid %>">Delete</button>
                                    <button class="btn btn-primary mr-5" 
                                            onclick="location.href='/admin/manage-cinema/update-cinema?cinemaID=<%=element.uuid%>'"
                                            data-id="<%= element.uuid %>">Update</button>
                                </div>
                            </td>
                        </tr>
                    <% }) %>
               
            </table>
            
        </div>
        
        <div class="card-body align-items-center d-flex justify-content-center">
            <div class="pagination">
                
            </div>
        </div>
    </div>
</div>




