<form method="POST">
  <!-- Display Name -->
  <label for="cinema_name">Display Name:</label><br />
  <input
    type="text"
    value="<%= cinema.displayName %>"
    name="cinema_name"
    required
  /><br />

  <!-- Type -->
  <label for="cinema_type">Type</label><br />
  <select name="cinema_type">
    <option value="<%= cinema.type_id %>" selected>Choose another...</option>
    <option value="1">2D</option>
    <option value="2">3D</option>
    <option value="3">4DX</option>
  </select>
  <br />

  <!-- Horizontal Size -->
  <label for="cinema_hsize">Horizontal Size</label><br />
  <input
    type="text"
    value="<%= cinema.horizontalSize %>"
    name="cinema_hsize"
    required
  /><br />

  <!-- Verticle Size -->
  <label for="cinema_vsize">Verticle Size</label><br />
  <input
    type="text"
    value="<%= cinema.verticleSize %>"
    name="cinema_vsize"
    required
  /><br />

  <select name="cinema_owner_cluster">
    <% clusters.forEach(cluster => { %>
    <% if(cinema.ownerCluster_id === cluster.uuid) { %>
    <option value="<%=cluster.uuid%>" selected><%=cluster.displayName%></option>
    <%} else { %>
    <option value="<%=cluster.uuid%>"><%=cluster.displayName%></option>
    <% }}); %>
  </select>

  <input type="submit" value="Update" />
</form>
