
  <div class="content-wrapper">
    <div class="row">

      <div class="col-lg-5 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Điền thông tin Rạp</h4>
                <form class="forms-sample" method="POST">
                  <div class="form-group">
                    <div class="form-group">
                      <label>Name</label>
                      <input type="text" class="form-control" value="<%= cinema.displayName %>" name="cinema_name" required />
                    </div>
                  <div class="form-group">
                    <label for="cinema_hsize">Horizontal</label><br />
                    <input type="text" name="cinema_hsize" value="<%= cinema.horizontalSize %>" class="form-control" /><br />
                  </div>
                  <div class="form-group">
                    <label for="cinema_vsize">Verticle</label><br />
                    <input type="text" name="cinema_vsize" value="<%= cinema.verticleSize %>" class="form-control" /><br />
                  </div>

                  <div class="form-group">
                    <label for="cinema_type">Type</label><br />
                    <select name="cinema_type">
                      <option value="<%= cinema.type_id %>" selected>Choose another...</option>
                      <option value="1">2D</option>
                      <option value="2">3D</option>
                      <option value="3">4DX</option>
                    </select>
                  </div>

                  <label for="cinema_owner_cluster">Belong to</label>
                  <div class="form-group">
                    <label for="cinema_owner_cluster">Film</label>
                    <br />
                    <select name="cinema_owner_cluster">
                      <% clusters.forEach(cluster => { %>
                      <% if(cinema.ownerCluster_id === cluster.uuid) { %>
                      <option value="<%=cluster.uuid%>" selected><%=cluster.displayName%></option>
                      <%} else { %>
                      <option value="<%=cluster.uuid%>"><%=cluster.displayName%></option>
                      <% }}); %>
                    </select>
                    <br />
                  </div>
                    <input type="submit" value="Update" class="btn btn-success mr-2"/>
                  </form>
            </div>
        </div>
      </div>
    </div>
  </div>
  