<form method="POST">
    <!-- Start Time -->
    <label for="start_time">Start Time</label><br />
    <input type="text" value="<%= showtimeMatch.startTime %>" name="start_time" /><br />
  
    <!-- End Time -->
    <label for="end_time">Verticle Size</label><br />
    <input type="text" value="<%= showtimeMatch.endTime %>" name="end_time" /><br />

    <!-- Price -->
    <label for="price">Price</label><br />
    <input type="text" value="<%= showtimeMatch.price %>" name="price" /><br />
  
    <!-- Cinema Owner -->
    <label for="cinemaId">Cinema</label>
    <br />
    <select name="cinemaId">
      <% cinemas.forEach(cinema => { %>
        <% if(cinema.uuid === showtimeMatch.cinema_id) { %>
            <option value="<%=cinema.uuid%>" selected><%=cinema.displayName%></option>
            <%} else { %>
      <option value="<%=cinema.uuid%>"><%=cinema.displayName%></option>
      <%}}); %>
    </select>
    <br />

    <!-- Film Owner -->
    <label for="filmId">Cinema</label>
    <br />
    <select name="filmId">
      <% films.forEach(film => { %>
        <% if(film.uuid === showtimeMatch.film_id) { %>
            <option value="<%=film.uuid%>" selected><%=film.displayName%></option>
            <%} else { %>
      <option value="<%=film.uuid%>"><%=film.displayName%></option>
      <%}}); %>
    </select>
    <br />
  
    <input type="submit" value="Update" />
  </form>
  